<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1 style="color: white;">
                    landing page
                </h1>
                <small>
                    <%= link_to "dashboard", dashboard_path, class: "btn btn-primary" %>
                </small>
            </div>
        </div>
    </div>
</div>
