@import "style";

body.registrations,
body.sessions,
body.passwords { 
  background: url("//res.cloudinary.com/apartlex/image/upload/c_scale,q_80,w_1363/v1443225929/login.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  nav.navbar {
    background-color: inherit;
    color: $whitesmoke;

    .mobile-signup-links {
      display: none;
      visibility: hidden;
    }

    @media (max-width: $screen-md) {
      .navbar-header {
        margin: 0;
        display: inline-block;
      }

      .mobile-signup-links {
        display: inline-block;
        visibility: visible;
        float: right;
        margin-top: 6px;
        padding-top: 25px;
        padding-bottom: 10px;

        a {
          padding: 0 10px;
          color: $whitesmoke;
          font-family: 'Open Sans', helvetica, arial, sans-serif;
          font-weight: 700;
          letter-spacing: 1px;
          text-transform: uppercase;
          font-size: 14px;
          &.active {
            padding-top: 24px;
            border-top: 6px solid $brand-primary;
          }
          &:hover {
            color: $brand-primary;
          }
        }
      }
    }

    @media (max-width: $screen-sm) {
      margin-bottom: 0px;
      .mobile-signup-links { padding-top: 10px; }
    }
  }

  section {
    padding-top: 12.5%; 
    @media (max-width: $screen-sm) { padding-top: 20%; }
    @media (max-width: $screen-xs) { padding-top: 25%; }

    .ibox-content {
      padding: 30px;
      border-radius: 5px;
      background-color: rgba(0,0,0,0.4);
      border-color: $brand-primary;
      color: $whitesmoke;

      input { color: $black; }
      p {
        font-size: 1.5rem;
      }
      a {
        color: $brand-primary;
        &:hover {
          color: lighten($brand-primary, 10%);
        }
      }
    }

    .fa {
      color: $whitesmoke;
    }
  }

  .b-r,
  .b-l,
  .b-t,
  .b-b {
    border-color: $brand-primary;
  }
}
